<a href="https://colab.research.google.com/github/Belal-AI/Rev-Projects/blob/main/recommedersystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [249]:
import numpy as np
import tensorflow as tf
import pandas as pd
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split

In [265]:
movies=pd.read_csv("/content/movies.csv")

In [267]:
movies=movies.iloc[:,1:]
movies

,movie id,year,ave rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,6874.0,2003.0,3.961832,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,8798.0,2004.0,3.761364,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,46970.0,2006.0,3.250000,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,48516.0,2006.0,4.252336,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,58559.0,2008.0,4.238255,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50879,168250.0,2017.0,3.633333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
50880,168250.0,2017.0,3.633333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
50881,168250.0,2017.0,3.633333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
50882,168250.0,2017.0,3.633333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
50883,168252.0,2017.0,4.280000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [268]:
user=pd.read_csv("/content/user.csv")

In [271]:
user=user.iloc[:,1:]
user

,user id,rating count,rating ave,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,2.0,22.0,4.00,3.95,4.25,0.00,0.00,4.00,4.12,4.0,4.04,0.00,3.00,4.00,0.00,3.88,3.89
1,2.0,22.0,4.00,3.95,4.25,0.00,0.00,4.00,4.12,4.0,4.04,0.00,3.00,4.00,0.00,3.88,3.89
2,2.0,22.0,4.00,3.95,4.25,0.00,0.00,4.00,4.12,4.0,4.04,0.00,3.00,4.00,0.00,3.88,3.89
3,2.0,22.0,4.00,3.95,4.25,0.00,0.00,4.00,4.12,4.0,4.04,0.00,3.00,4.00,0.00,3.88,3.89
4,2.0,22.0,4.00,3.95,4.25,0.00,0.00,4.00,4.12,4.0,4.04,0.00,3.00,4.00,0.00,3.88,3.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50879,610.0,514.0,3.69,3.55,3.70,3.94,3.88,3.71,3.77,4.0,3.87,3.61,3.44,3.91,3.67,3.61,3.60
50880,610.0,514.0,3.69,3.55,3.70,3.94,3.88,3.71,3.77,4.0,3.87,3.61,3.44,3.91,3.67,3.61,3.60
50881,610.0,514.0,3.69,3.55,3.70,3.94,3.88,3.71,3.77,4.0,3.87,3.61,3.44,3.91,3.67,3.61,3.60
50882,610.0,514.0,3.69,3.55,3.70,3.94,3.88,3.71,3.77,4.0,3.87,3.61,3.44,3.91,3.67,3.61,3.60
50883,610.0,514.0,3.69,3.55,3.70,3.94,3.88,3.71,3.77,4.0,3.87,3.61,3.44,3.91,3.67,3.61,3.60

In [272]:
trainy=pd.read_csv("/content/trainy.csv")

In [273]:
scaller=StandardScaler()

In [274]:
framefmovies=scaller.fit_transform(movies.iloc[:,2:])

In [275]:
framofuser=scaller.fit_transform(user.iloc[:,3:])

In [276]:
framefmovies

array([[ 0.89265564,  1.40397827, -0.69695839, ..., -0.39919034,
        -0.50822265,  1.51568608],
       [ 0.37702804,  1.40397827, -0.69695839, ..., -0.39919034,
        -0.50822265,  1.51568608],
       [-0.9382574 ,  1.40397827, -0.69695839, ..., -0.39919034,
        -0.50822265, -0.65976722],
       ...,
       [ 0.04771954, -0.71226174, -0.69695839, ..., -0.39919034,
        -0.50822265, -0.65976722],
       [ 0.04771954, -0.71226174, -0.69695839, ..., -0.39919034,
        -0.50822265, -0.65976722],
       [ 1.71101977,  1.40397827, -0.69695839, ..., -0.39919034,
         1.96764154, -0.65976722]])

In [282]:
movies.columns[3:]

Index(['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Horror', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller'],
      dtype='object')

In [284]:
framefmovies=pd.DataFrame(data=framefmovies,columns=movies.columns[2:])
framefmovies['movie id']=movies['movie id']

In [285]:
framefmovies['year']=movies['year']

In [286]:
framefmovies['ave rating']=movies['ave rating']

In [287]:
framofuser=scaller.fit_transform(user)

In [289]:
trainuserx,testuserx=train_test_split(framofuser,train_size=0.80,shuffle=True)
trainitem,testitem=train_test_split(framefmovies,train_size=0.80,shuffle=True)
ytrain,ytest=train_test_split(trainy,train_size=0.80,shuffle=True)

In [306]:
user_model = tf.keras.models.Sequential([
    ### START CODE HERE ###
    tf.keras.layers.Dense(256,activation="relu"),
    tf.keras.layers.Dense(128,activation="relu"),
    tf.keras.layers.Dense(32)
    ### END CODE HERE ###
])

movie_model = tf.keras.models.Sequential([
    ### START CODE HERE ###
    tf.keras.layers.Dense(256,activation="relu"),
    tf.keras.layers.Dense(128,activation="relu"),
    tf.keras.layers.Dense(32)

    ### END CODE HERE ###
])

In [307]:
userinput=tf.keras.layers.Input(shape=(trainuserx.shape[1]))
movieinput=tf.keras.layers.Input(shape=(trainitem.shape[1]))

In [308]:
vu=user_model(userinput)
vm=movie_model(movieinput)
vu=tf.linalg.l2_normalize(vu,axis=1)
vm=tf.linalg.l2_normalize(vm,axis=1)

In [309]:
output = tf.keras.layers.Dot(axes=1)([vu, vm])

In [310]:
model=tf.keras.Model([userinput,movieinput],output)

In [311]:
model.summary()

Model: "model_12"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_25 (InputLayer)          [(None, 17)]         0           []

 input_26 (InputLayer)          [(None, 17)]         0           []

 sequential_22 (Sequential)     (None, 32)           41632       ['input_25[0][0]']

 sequential_23 (Sequential)     (None, 32)           41632       ['input_26[0][0]']

 tf.math.l2_normalize_20 (TFOpL  (None, 32)          0           ['sequential_22[0][0]']
 ambda)

 tf.math.l2_normalize_21 (TFOpL  (None, 32)          0           ['sequential_23[0][0]']
 ambda)

 dot_15 (Dot)                   (None, 1)            0           ['tf.math.l2_normalize_20[0][0]',
                                                                  'tf.math.l2_normalize_21[0][0]']

==================================================================================================
Total params: 83,264
Trainable params: 83,264
Non-trainable params: 0
__________________________________________________________________________________________________

In [312]:
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
loss=tf.keras.losses.MeanSquaredError()
model.compile(optimizer=opt,loss=loss)

In [313]:
model.fit([trainuserx, trainitem], ytrain, epochs=1,validation_data=([trainuserx, trainitem], ytrain))

1273/1273 [==============================] - 9s 6ms/step - loss: 432470112.0000 - val_loss: 432470592.0000

In [305]:
ytrain.shape

(40707, 2)